// ------------------------------
// MISC / HELPERS
// ------------------------------
html, body {
    height: 100%;
}

.off-canvas-wrap, .inner-wrap, .view-frame {
    height: 100%;
}

.hidethis {
  display: none !important;
}

.invisible {
  opacity: 0 !important;
}