// ------------------------------
// Starterkit APP
// ------------------------------

#navegador {
    position: fixed;
    height: 100%;
    width: 75%;
    left: 99%;
    top: 45px;
    transition: all 0.5s ease-in;
    border-left: 20px orange solid;

    &:hover {
        left: 25%;
        transition: all 0.5s ease-out;
    }

    iframe {
        border: none;
        width: 100%;
        height: 100%;

        .iframe_content {
            width: 100%;
            height: 100%;
        }
    }
}


